/* Testimonials.css */
.testimonials-container {
 
  background: #f9f9f9;
}
.testimonials-container1{
  padding: 50px;
  text-align: center;
 

}

.testimonials-grid {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  flex-wrap: wrap !important;
  padding: 20px 70px;
  gap: 20px;

}

.testimonial-card {
  max-width: 350px;
  height: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: #324d68 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
  transition: transform 0.3s ease-in-out !important;
  color: #fff !important;
}

.testimonial-card:hover {
  transform: scale(1.05) !important;
}

.testimonial-avatar {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto 10px !important;
}

 .testimonials-feed{
  color: #fff !important;
  font-weight: bold !important;
}
.testimonials-name{
color: #dede34 !important;
font-weight: bold !important;
}

@media (max-width: 768px) {
  .testimonials-grid {
    flex-direction: column;
    align-items: center;
  }
}
