.App {
  font-family: 'Arial', sans-serif; /* Replace 'Arial' with your preferred font */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
 overflow: scroll !important; */
 overflow-x: hidden;
 max-width: 100%;
 background-color: aliceblue;
}
